.navbar-custom {
  background-color: var(--neutral-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: var(--font-graphit);
  position: fixed;
  width: 100%;
  z-index: 1050;
  top: 0;

  .menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;

    &:hover {
      border-radius: 50%;
      background-color: var(--secondary-color);
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;

    li {
      a {
        color: var(--accent-color) !important;
      }
      &::first-letter {
        font-size: 19px;
      }
    }
  }

  .nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;

    svg {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s linear;
      padding: 10px;

      &:hover {
        border-radius: 50%;
        background-color: var(--secondary-color);
      }
    }

    button {
      svg.small-icon {
        width: 30px !important;
        height: 30px;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
    }
  }
}

.mini-navbar {
  border-bottom-left-radius: 20px;
  background-color: var(--neutral-color);
  position: fixed;
  width: 10%;
  z-index: 1050;
  top: 0;
  right: 0;
  padding: 1%;

  > .shop-cart {
    padding-top: 8px;
    width: 50px;
    height: 60px;
    font-size: 1.6rem;

    .cart-count {
      width: 30px;
      height: 30px;
    }

    .dropdown-menu {
      svg {
        width: 50% !important;
      }
    }
  }

  .bars {
    width: 50px;
    height: 60px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;

    :hover {
      padding: 5px;
      border-radius: 50%;
      background-color: var(--primary-color);
    }
  }
}

// _____________________________Mobile

@media screen and (max-width: 768px) {
  .navbar-custom {
    position: relative;

    .menu-toggle {
      z-index: 1001;
    }

    .mobile-nav-links {
      background-color: var(--neutral-color);
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: calc(100dvh - 80px);
      padding: 10px 20px;

      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
      opacity: 0;
      transition: top 0.5s ease, opacity 0.5s ease;
      z-index: 1000;
      display: none;

      &.show {
        top: 60px;
        opacity: 1;
        display: flex;
      }

      .nav-links {
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        padding-left: 10%;
        width: 90%;
        gap: 5%;
        li {
          width: 100%;
          padding: 5px 10px;
          display: flex;
          border-bottom: var(--primary-color) 1px solid;
          a {
            text-align: start;
            font-size: 2rem;
            font-weight: 600;
            color: var(--secondary-color) !important;
          }
        }
      }
    }
  }
}
