:root {
  --primary-color: #f29f05;
  --secondary-color: #f2ca80;
  --tertiary-color: #f2e6ce;
  --neutral-color: #f2f2f2;
  --neutral-transparent-color: #f2f2f28f;
  --accent-color: #402505;
  --slug-color: #585542;
  --item-bg-color: #f9efd0;
}
